/*
VIEW-WRAPPER
 */

// ON LOAD PAGE
.is-load .view-wrapper {
  visibility: hidden;
}

.view-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  padding: 0;
  overflow: hidden;
}

.container {
  position: relative;
  min-width: 280px;
  max-width: 990px;
  margin: 0 auto;
  background: white;
  &:before, &after{
    display: none;
  }
}