main {
  background: #f2f2f2;
  section{
    label {
      position: absolute;
      top: 5px;
      left: 10px;
      width: 19px;
      height: 19px;
      z-index: 1;
      input {
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        position: absolute;
        margin: 0;
        cursor: pointer;
        &:checked + svg {
           path{
             fill: #000;
           }
        }
      }

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: none;
          stroke: #000;
          stroke-width: 60px;
        }
      }
    }
    h2 {
        font: 32px/1 $font;
        color: #424242;
        padding: 0 80px;
        @media #{$_680}{
          text-align: center;
          padding: 0;
        }
      @media #{$_480}{
        font-size: 24px;
      }
    }

    &.featured--section {
      .featured--section__content{
        padding: 80px 0  0;
        @media #{$_680}{
          padding: 60px 0  0;
        }
        @media #{$_480}{
          padding-top: 40px;
        }
        .featured--section_slider--content{
          position: relative;
        }
      }
        .featured--section__slider {
          margin-top: 40px;
          @media #{$_480}{
            margin-top: 20px;
          }
          .swiper-wrapper {

            .swiper-slide {
              padding: 0 80px;
              display: flex;

              @media #{$_680}{
                padding:0 60px;
                flex-wrap: wrap;
              }
              @media #{$_480}{
                padding: 0 20px;
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .preview-img {
                position: relative;
                margin-right: 40px;
                max-width: calc(100% - 40px);
                width: 100%;
                @media #{$_680}{
                  max-width: none;
                  margin-right: 0;
                }
                @media #{$_480}{
                  height: 240px;
                }

                .featured--description {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    bottom: 0;
                    padding: 20px;
                    &:before{
                      background: rgb(255,255,255);
                      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
                      content:'';
                      position: absolute;
                      left: 0;
                      bottom: 0;
                      width: 100%;
                      height: 90px;
                      z-index: 0;
                    }
                    p {
                      font: 14px/18px $font;
                      color: #fff;
                      position: relative;
                    }

                    span {
                      position: relative;
                      font: 12px/1 $font;
                      color: #fff;
                      opacity: 0.66;
                    }
                }
              }

              .box--small__img {
                max-width: 240px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media #{$_680}{
                  flex-direction: row;
                  max-width: none;
                  margin-top: 40px;
                }
                @media #{$_480}{
                 flex-wrap: wrap;
                  margin-top: 20px;
                }
                &-el {
                  position: relative;
                  min-width: 180px;
                  height: calc(100% / 2 - 20px);
                  @media #{$_680}{
                    width: calc(50% - 20px) ;
                    height: auto;
                  }
                  @media #{$_480}{
                    width: 100%;
                    margin-bottom: 20px;
                    height: 240px;
                  }
                  .featured--description {

                    position: absolute;
                    left: 0;
                    width: 100%;
                    bottom: 0;
                    padding: 20px;
                    &:before{
                      background: rgb(255,255,255);
                      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
                      content:'';
                      position: absolute;
                      left: 0;
                      bottom: 0;
                      width: 100%;
                      height: 90px;
                      z-index: 0;
                    }
                    p {
                      font: 14px/18px $font;
                      color: #fff;
                      position: relative;
                    }

                    span {
                      position: relative;
                      font: 12px/1 $font;
                      color: #fff;
                      opacity: 0.66;
                    }
                  }
                }
              }
            }
          }
        }
      .featured-next{
        z-index: 2;
        cursor: pointer;
        @media #{$_680}{
          display: none;
        }
        &:after{
          color: #dbdbdb;
        }
        &.swiper-button-disabled{
          &:before{
            width:60px ;
            height: 120px;
            position: absolute;
            content:'';
            right: -10px;
            top: calc(50% - 60px);
            background: #00000026;
          }
          &:after{
            color: #616161;
          }
        }
      }
      .featured-prev{
        z-index: 2;
        cursor: pointer;

        @media #{$_680}{
          display: none;
        }
        &:after{
          color: #dbdbdb;
        }
        &.swiper-button-disabled{
          &:before{
            width:60px ;
            height: 120px;
            position: absolute;
            content:'';
            left: -10px;
            top: calc(50% - 60px);
            background: #00000026;
          }
          &:after{
            color: #616161;
          }
        }
      }

    }
    &.last--section{
      .last--section__container{
        padding: 80px 0 50px;
        @media #{$_680}{
          padding-top: 60px;
          padding-bottom: 0;
        }
        @media #{$_480}{
          padding-top: 20px;
        }
      }
      .last--section__content {
        display: flex;
        justify-content: space-between;
        padding: 0 80px 0;
        margin-top: 40px;
        @media #{$_680}{
          padding: 0 60px;
          flex-wrap: wrap;
        }
        @media #{$_480}{
          margin-top: 20px;
          padding: 0 20px;
        }
        &-el {
          width: calc(100% / 3 - 80px / 3);
          @media #{$_680}{
            width:calc(50% - 20px);
            margin-bottom: 40px;
          }
          @media #{$_480}{
            width: 100%;
            margin-bottom: 20px;
          }
          &:last-child{
            height: 402px;
            @media #{$_480}{
              height: 240px;
            }
            img{
              height: 100%;
            }
          }
          img {
            width: 100%;
            height: 240px;
            object-fit: cover;
          }
          .img-bx {
            position: relative;


          }

          .el--description {
            margin-top: 20px;
            p {
              font: 14px/18px $font;
              color: #212121;
              cursor: pointer;
            }
            span{
              font: 12px/1 $font;
              color: #424242;
              opacity: 0.6;
            }
          }
        }
      }
    }


  }

}