<% var data = {
  title: "test-Konotop",
  author: "krivoy212010@gmail.com"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
  <section class="featured--section">
      <div class="container">
          <div class="featured--section__content">
              <h2>FEATURE IMAGES</h2>
              <div class="featured--section_slider--content">
                  <div class="featured--section__slider swiper-container">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <div class="preview-img">
                                  <label for="star">
                                      <input type="checkbox" id="star">
                                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                                  </label>
                                  <img src="img/Gulf_Intracoastal.jpg" alt="img">
                                  <div class="featured--description">
                                      <p>Hubble Spies Galactic Traffic Jam</p>
                                      <span>#hubble #galaxy #galactijam</span>
                                  </div>
                              </div>
                              <div class="box--small__img">
                                  <div class="box--small__img-el">
                                      <label for="star1">
                                          <input type="checkbox" id="star1">
                                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                                      </label>
                                      <img src="img/marspan.jpg" alt="img">
                                      <div class="featured--description">
                                          <p>Hubble Spies Galactic Traffic Jam</p>
                                          <span>#hubble #galaxy #galactijam</span>
                                      </div>
                                  </div>
                                  <div class="box--small__img-el">
                                      <label for="star2">
                                          <input type="checkbox" id="star2">
                                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                                      </label>
                                      <img src="img/Gulf_Intracoastal.jpg" alt="img">
                                      <div class="featured--description">
                                          <p>Hubble Spies Galactic Traffic Jam</p>
                                          <span>#hubble #galaxy #galactijam</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="preview-img">
                                  <label for="star3">
                                      <input type="checkbox" id="star3">
                                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                                  </label>
                                  <img src="img/Gulf_Intracoastal.jpg" alt="img">
                                  <div class="featured--description">
                                      <p>Hubble Spies Galactic Traffic Jam</p>
                                      <span>#hubble #galaxy #galactijam</span>
                                  </div>
                              </div>
                              <div class="box--small__img">
                                  <div class="box--small__img-el">
                                      <label for="star8">
                                          <input type="checkbox" id="star8">
                                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                                      </label>
                                      <img src="img/marspan.jpg" alt="img">
                                      <div class="featured--description">
                                          <p>Hubble Spies Galactic Traffic Jam</p>
                                          <span>#hubble #galaxy #galactijam</span>
                                      </div>
                                  </div>
                                  <div class="box--small__img-el">
                                      <label for="star7">
                                          <input type="checkbox" id="star7">
                                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                                      </label>
                                      <img src="img/Gulf_Intracoastal.jpg" alt="img">
                                      <div class="featured--description">
                                          <p>Hubble Spies Galactic Traffic Jam</p>
                                          <span>#hubble #galaxy #galactijam</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="preview-img">
                                  <label for="star9">
                                      <input type="checkbox" id="star9">
                                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                                  </label>
                                  <img src="img/Gulf_Intracoastal.jpg" alt="img">
                                  <div class="featured--description">
                                      <p>Hubble Spies Galactic Traffic Jam</p>
                                      <span>#hubble #galaxy #galactijam</span>
                                  </div>
                              </div>
                              <div class="box--small__img">
                                  <div class="box--small__img-el">
                                      <label for="star15">
                                          <input type="checkbox" id="star15">
                                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                                      </label>
                                      <img src="img/marspan.jpg" alt="img">
                                      <div class="featured--description">
                                          <p>Hubble Spies Galactic Traffic Jam</p>
                                          <span>#hubble #galaxy #galactijam</span>
                                      </div>
                                  </div>
                                  <div class="box--small__img-el">
                                      <label for="star16">
                                          <input type="checkbox" id="star16">
                                          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                                      </label>
                                      <img src="img/Gulf_Intracoastal.jpg" alt="img">
                                      <div class="featured--description">
                                          <p>Hubble Spies Galactic Traffic Jam</p>
                                          <span>#hubble #galaxy #galactijam</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-button-prev featured-prev"></div>
                  <div class="swiper-button-next featured-next"></div>
              </div>
          </div>
      </div>
  </section>
    <section class="last--section">
        <div class="container">
            <div class="last--section__container">
                <h2>
                    LAST IMAGES
                </h2>
                <div class="last--section__content">
                    <div class="last--section__content-el">
                        <div class="img-bx">
                            <label for="star10">
                                <input type="checkbox" id="star10">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                            </label>
                            <img src="img/Gulf_Intracoastal.jpg" alt="img">
                        </div>
                        <div class="el--description">
                            <p>Hubble Spies Galactic Traffic Jam</p>
                            <span>#hubble #galaxy #galactijam</span>
                        </div>
                    </div>
                    <div class="last--section__content-el">
                        <div class="img-bx">
                            <label for="star11">
                                <input type="checkbox" id="star11">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-7x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""></path></svg>
                            </label>
                            <img src="img/Gulf_Intracoastal.jpg" alt="img">
                        </div>
                        <div class="el--description">
                            <p>Hubble Spies Galactic Traffic Jam</p>
                            <span>#hubble #galaxy #galactijam</span>
                        </div>
                    </div>
                    <div class="last--section__content-el ">
                        <img src="img/potw1912a.jpg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%= _.template(require('./../includes/footer.html').default)(data) %>